.homeChild {
    position: absolute;
    top: 104.5px;
    left: 35.5px;
    border-top: 1px solid #dddedd;
    box-sizing: border-box;
    width: 1441.2px;
    height: 1px;
}

.homeItem {
    top: 29px;
    left: 1261px;
}

.homeInner,
.homeItem,
.rectangleDiv {
    position: absolute;
    border-radius: var(--br-xl);
    background-color: var(--color-darkorange);
    width: 187px;
    height: 45px;
}

.homeInner {
    top: 3946px;
    left: 662px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangleDiv {
    top: 634px;
    left: 94px;
}

.applyNow,
.getStarted,
.moreDetails {
    position: absolute;
    top: 41px;
    left: 1301px;
    font-weight: 600;
}

.getStarted,
.moreDetails {
    top: 3958px;
    left: 704px;
}

.getStarted {
    top: 646px;
    left: 126px;
}

.about,
.life,
.placements {
    position: absolute;
    top: 41px;
    left: 868px;
    color: var(--color-black);
}

.life,
.placements {
    left: 597px;
}

.placements {
    left: 708px;
}

.lineIcon {
    position: absolute;
    top: 508px;
    left: 94px;
    width: 629px;
    height: 1px;
    object-fit: contain;
}

.presidencyCollege {
    text-transform: capitalize;
}

.figmaIpsumComponent,
.letsStartYourContainer {
    position: absolute;
    left: 94px;
    color: var(--color-black);
    display: inline-block;
}

.letsStartYourContainer {
    top: 283px;
    font-size: var(--font-size-45xl);
    font-weight: 600;
    width: 710px;
}

.figmaIpsumComponent {
    top: 531px;
    font-weight: 500;
    width: 584px;
    height: 63px;
}

.homeChild1 {
    position: absolute;
    top: 173px;
    left: 1275px;
    width: 27px;
    height: 39px;
    object-fit: contain;
}

.homeChild2 {
    position: absolute;
    top: 998px;
    left: 82px;
    border-radius: var(--br-xl);
    background-color: var(--color-orange);
    width: 1347px;
    height: 396px;
}

.thumbConceptIcon {
    width: 585px;
    position: relative;
    height: 779px;
    overflow: hidden;
    flex-shrink: 0;
}

.colMd6 {
    position: absolute;
    top: 181px;
    left: 827px;
    width: 621px;
    height: 672px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.homeChild3,
.rectangleIcon {
    position: absolute;
    border-radius: var(--br-xl);
}

.homeChild3 {
    top: 2140px;
    left: 106px;
    border: 3px solid var(--color-steelblue);
    box-sizing: border-box;
    width: 1300px;
    height: 730px;
}

.rectangleIcon {
    top: 3232px;
    left: 64px;
    width: 1384px;
    height: 580px;
    object-fit: cover;
}

.ellipseDiv {
    position: absolute;
    top: 2430px;
    left: 681px;
    border-radius: 50%;
    background-color: var(--color-steelblue);
    width: 150px;
    height: 150px;
}

.image221Icon {
    position: absolute;
    top: 25px;
    left: 94px;
    width: 186px;
    height: 62px;
    object-fit: cover;
}

.image227Icon,
.image228Icon,
.image229Icon,
.image230Icon {
    position: absolute;
    top: 1809px;
    left: 84px;
    width: 300px;
    height: 220px;
    object-fit: cover;
}

.image228Icon,
.image229Icon,
.image230Icon {
    left: 432px;
}

.image229Icon,
.image230Icon {
    left: 780px;
}

.image230Icon {
    left: 1128px;
}

.homeChild4 {
    position: absolute;
    top: 1433px;
    left: 82px;
    border-radius: var(--br-xl);
    background-color: var(--color-steelblue);
    width: 1345px;
    height: 282px;
}

.indiasTopRankedPrivate,
.ranked11 {
    position: absolute;
    left: 118px;
    display: inline-block;
}

.ranked11 {
    top: 1074px;
    font-size: 170px;
    font-weight: 600;
    width: 1114px;
    height: 198px;
}

.indiasTopRankedPrivate {
    top: 1250px;
    font-size: var(--font-size-21xl);
    font-weight: 500;
    text-align: center;
    width: 1221px;
}

.ranked3 {
    margin: 0;
    font-size: var(--font-size-45xl);
}

.stateLevel {
    margin: 0;
}

.ranked1InContainer {
    position: absolute;
    top: 7px;
    left: 1004px;
    display: inline-block;
    width: 357px;
}

.ranked1InContainer1,
.ranked1InContainer2,
.ranked1InContainer3 {
    position: absolute;
    top: 1px;
    left: 4416px;
    display: inline-block;
    width: 357px;
}

.ranked1InContainer2,
.ranked1InContainer3 {
    top: 7px;
    left: 1459px;
}

.ranked1InContainer3 {
    top: 1px;
    left: 4871px;
}

.ranked3StateContainer,
.ranked3StateContainer1 {
    position: absolute;
    top: 6px;
    left: 0;
    display: inline-block;
    width: 403px;
}

.ranked3StateContainer1 {
    top: 0;
    left: 3412px;
}

.ranked3MetroContainer,
.ranked3MetroContainer1 {
    position: absolute;
    top: 7px;
    left: 483px;
    display: inline-block;
    width: 459px;
}

.ranked3MetroContainer1 {
    top: 1px;
    left: 3895px;
}

.metroCityLevel {
    margin: 0;
    font-size: var(--font-size-5xl);
}

.ranked2BaContainer {
    position: absolute;
    top: 6px;
    left: 1896px;
    display: inline-block;
    width: 402px;
    font-size: var(--font-size-45xl);
}

.ranked2BaContainer1,
.ranked4InContainer {
    position: absolute;
    top: 0;
    left: 5308px;
    display: inline-block;
    width: 402px;
}

.ranked4InContainer {
    top: 6px;
    left: 2378px;
    width: 446px;
}

.ranked4InContainer1,
.ranked5BcomContainer,
.ranked5BcomContainer1 {
    position: absolute;
    top: 0;
    left: 5790px;
    display: inline-block;
    width: 446px;
}

.ranked5BcomContainer,
.ranked5BcomContainer1 {
    top: 7px;
    left: 2904px;
    font-size: var(--font-size-45xl);
}

.ranked5BcomContainer1 {
    top: 1px;
    left: 6316px;
}

.component11 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ranked1InContainer4,
.ranked2BaContainer2 {
    position: absolute;
    width: 27.78%;
    top: 427.78%;
    left: 76.42%;
    display: inline-block;
}

.ranked2BaContainer2 {
    width: 31.28%;
    top: 649.38%;
    left: 0;
}

.component1 {
    position: absolute;
    top: 1493px;
    left: 118px;
    width: 1285px;
    height: 162px;
    overflow: hidden;
    font-size: var(--font-size-5xl);
}

.homeChild5 {
    position: absolute;
    top: 3111px;
    left: 124px;
    width: 669px;
    height: 2px;
    object-fit: contain;
}

.scholarshipProgram,
.theCollegeWill,
.wherePassionMeets {
    position: absolute;
    top: 3049px;
    left: 121px;
    font-size: var(--font-size-41xl);
    font-weight: 600;
    color: var(--color-black);
    display: inline-block;
    width: 765px;
}

.theCollegeWill,
.wherePassionMeets {
    top: 3133px;
    left: 124px;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    width: 990px;
    height: 30px;
}

.theCollegeWill {
    top: 3857px;
    left: 288px;
    text-align: center;
    width: 912px;
}

.vectorIcon,
.vectorIcon1 {
    position: absolute;
    height: 0.53%;
    width: 3.77%;
    top: 16.65%;
    right: 47.62%;
    bottom: 82.81%;
    left: 48.61%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vectorIcon1 {
    height: 1.11%;
    width: 7.87%;
    top: 7.25%;
    right: 22.75%;
    bottom: 91.64%;
    left: 69.38%;
}

.homeChild6 {
    position: absolute;
    top: 4253px;
    left: 117px;
    width: 669px;
    height: 2px;
    object-fit: contain;
}

.ourPragmaticApproach,
.programmeWeOffer {
    position: absolute;
    top: 4191px;
    left: 114px;
    font-size: var(--font-size-41xl);
    font-weight: 600;
    color: var(--color-black);
    display: inline-block;
    width: 660px;
}

.ourPragmaticApproach {
    top: 4275px;
    left: 117px;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    width: 990px;
    height: 30px;
}

.homeChild7 {
    position: absolute;
    top: 4398px;
    left: 105px;
    border-radius: var(--br-xl);
    background-color: #ffdd81;
    width: 750px;
    height: 745px;
}

.homeChild10,
.homeChild11,
.homeChild12,
.homeChild8,
.homeChild9 {
    position: absolute;
    top: 5260px;
    left: 657px;
    border-radius: var(--br-xl);
    background-color: var(--color-firebrick);
    width: 750px;
    height: 745px;
}

.homeChild10,
.homeChild11,
.homeChild12,
.homeChild9 {
    top: 7058px;
    background-color: var(--color-steelblue);
}

.homeChild10,
.homeChild11,
.homeChild12 {
    top: 6152px;
    left: 105px;
}

.homeChild11,
.homeChild12 {
    top: 7964px;
    background-color: var(--color-orange);
}

.homeChild12 {
    top: 4562px;
    left: 932px;
    background-color: var(--color-firebrick);
    width: 410px;
    height: 563px;
}

.applyNow1,
.bachelorOfCommerceContainer,
.bcomAcca {
    position: absolute;
    top: 4905px;
    left: 975px;
    font-size: var(--font-size-29xl);
    font-weight: 600;
    display: inline-block;
    width: 329px;
}

.applyNow1,
.bachelorOfCommerceContainer {
    top: 4609px;
    font-size: var(--font-size-13xl);
    width: 373px;
}

.applyNow1 {
    top: 5040px;
    left: 984px;
    width: 178px;
}

.homeChild13,
.homeChild14,
.homeChild15 {
    position: absolute;
    top: 5442px;
    left: 163px;
    border-radius: var(--br-xl);
    background-color: var(--color-orange);
    width: 410px;
    height: 563px;
}

.homeChild14,
.homeChild15 {
    top: 6334px;
    left: 932px;
    background-color: var(--color-firebrick);
}

.homeChild15 {
    top: 8146px;
}

.al {
    font-size: var(--font-size-13xl);
}

.baPsychology,
.bbaAl,
.bcaAiml {
    position: absolute;
    top: 5750px;
    left: 205px;
    font-weight: 600;
    display: inline-block;
    width: 329px;
    font-size: var(--font-size-29xl);
}

.baPsychology,
.bcaAiml {
    top: 6660px;
    left: 972px;
    width: 233px;
}

.baPsychology {
    top: 8450px;
    left: 967px;
    width: 288px;
}

.applyNow2,
.applyNow3,
.applyNow4,
.bachelorOfArtsContainer,
.bachelorOfBusinessContainer,
.bachelorOfComputerContainer {
    position: absolute;
    top: 5483px;
    left: 207px;
    font-size: var(--font-size-13xl);
    font-weight: 600;
    display: inline-block;
    width: 340px;
}

.applyNow2,
.applyNow3,
.applyNow4,
.bachelorOfArtsContainer,
.bachelorOfComputerContainer {
    top: 6377px;
    left: 972px;
}

.applyNow2,
.applyNow3,
.applyNow4,
.bachelorOfArtsContainer {
    top: 8193px;
    left: 967px;
}

.applyNow2,
.applyNow3,
.applyNow4 {
    top: 5920px;
    left: 215px;
    width: 178px;
}

.applyNow3,
.applyNow4 {
    top: 6812px;
    left: 984px;
}

.applyNow4 {
    top: 8631px;
    left: 967px;
}

.image222Icon {
    position: absolute;
    top: 5288px;
    left: 682px;
    border-radius: var(--br-xl);
    width: 700px;
    height: 690.9px;
    object-fit: cover;
}

.image223Icon,
.image224Icon {
    left: 130px;
    width: 700px;
    object-fit: cover;
}

.image223Icon {
    position: absolute;
    top: 4425px;
    border-radius: var(--br-xl);
    height: 690.9px;
}

.image224Icon {
    top: 6175px;
    height: 700px;
}

.homeChild16,
.homeChild17,
.image223Icon1,
.image224Icon {
    position: absolute;
    border-radius: var(--br-xl);
}

.image223Icon1 {
    top: 7081px;
    left: 682px;
    width: 700px;
    height: 700px;
    object-fit: cover;
}

.homeChild16,
.homeChild17 {
    top: 7058px;
    left: 167px;
    background-color: var(--color-orange);
    width: 410px;
    height: 357px;
}

.homeChild17 {
    top: 7438px;
    background-color: var(--color-firebrick);
}

.mba,
.mca {
    position: absolute;
    top: 7237px;
    left: 210px;
    font-size: var(--font-size-29xl);
    font-weight: 600;
    display: inline-block;
    width: 167px;
    height: 71px;
}

.mba {
    top: 7617px;
}

.applyNow5,
.applyNow6,
.masterOfBusiness,
.mastersOfComputer {
    position: absolute;
    top: 7090px;
    left: 215px;
    font-size: var(--font-size-13xl);
    font-weight: 600;
    display: inline-block;
    width: 332px;
}

.applyNow5,
.applyNow6,
.masterOfBusiness {
    top: 7470px;
    left: 210px;
}

.applyNow5,
.applyNow6 {
    top: 7330px;
    width: 178px;
}

.applyNow6 {
    top: 7710px;
}

.image226Icon {
    position: absolute;
    top: 7998px;
    left: 130px;
    width: 700px;
    height: 685.1px;
    object-fit: cover;
}

.homeChild18 {
    position: absolute;
    top: 14166px;
    left: 0;
    border-radius: var(--br-21xl) var(--br-21xl) 0 0;
    background-color: var(--color-darkorange);
    width: 1512px;
    height: 641px;
}

.homeChild19,
.homeChild20 {
    position: absolute;
    top: 9831.9px;
    left: 134px;
    width: 488px;
    height: 5.1px;
    object-fit: contain;
}

.homeChild20 {
    top: 11347px;
    left: 81px;
}

.anInternationalCommunity,
.applyToBe,
.whatGraduatesSay {
    position: absolute;
    top: 8976px;
    left: 102px;
    font-size: var(--font-size-41xl);
    font-weight: 600;
    color: var(--color-black);
    display: inline-block;
    width: 917px;
}

.anInternationalCommunity,
.whatGraduatesSay {
    top: 9774px;
    left: 126px;
    width: 504px;
}

.anInternationalCommunity {
    top: 11387px;
    left: 72px;
    font-size: var(--font-size-45xl);
    font-weight: 500;
    width: 624px;
    height: 233px;
}

.homeChild21,
.homeChild22,
.homeChild23,
.homeChild24 {
    position: absolute;
    top: 9966px;
    left: 72px;
    border-radius: var(--br-xl);
    background-color: var(--color-steelblue);
    width: 1384px;
    height: 550px;
}

.homeChild22,
.homeChild23,
.homeChild24 {
    top: 9183.6px;
    left: 416px;
    box-shadow: 3px 4px 5.2px rgba(0, 0, 0, 0.25);
    background-color: var(--color-lavenderblush);
    width: 320px;
    height: 451px;
}

.homeChild23,
.homeChild24 {
    left: 766px;
}

.homeChild24 {
    left: 1116px;
}

.thumbConceptIcon1 {
    position: absolute;
    top: 11051px;
    left: 860px;
    width: 585px;
    height: 779px;
    overflow: hidden;
}

.campusLife,
.topRecruiters {
    position: absolute;
    top: 10673px;
    left: 544px;
    font-size: var(--font-size-41xl);
    font-weight: 600;
    color: var(--color-black);
    display: inline-block;
    width: 439px;
}

.campusLife {
    top: 11289px;
    left: 72px;
}

.homeChild25,
.lineDiv {
    position: absolute;
    top: 10791.5px;
    left: 7.5px;
    border-top: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 1513.1px;
    height: 1px;
}

.homeChild25 {
    top: 10948.5px;
}

.homeChild26,
.homeChild27,
.homeChild28 {
    position: absolute;
    top: 11970px;
    left: 212px;
    background-color: var(--color-gainsboro-100);
    width: 350px;
    height: 378px;
}

.homeChild27,
.homeChild28 {
    left: 577px;
}

.homeChild28 {
    left: 942px;
}

.socialMediaChild,
.socialMediaInner,
.socialMediaItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 378px;
    object-fit: cover;
}

.socialMediaInner,
.socialMediaItem {
    left: 365px;
}

.socialMediaInner {
    left: 730px;
}

.username,
.username1,
.username2 {
    position: absolute;
    top: 326px;
    left: 61px;
    line-height: 160%;
}

.username1,
.username2 {
    left: 441px;
}

.username2 {
    left: 821px;
}

.socialMedia,
.socialMedia2,
.socialMedia3 {
    position: absolute;
    top: 11970px;
    left: 212px;
    width: 1080px;
    height: 378px;
    text-align: center;
    font-size: var(--body-size);
    color: var(--black-50);
    font-family: var(--body);
}

.socialMedia2,
.socialMedia3 {
    top: 12360px;
}

.socialMedia3 {
    top: 12750px;
}

.homeChild29 {
    position: absolute;
    top: 13160px;
    left: 697px;
    border-radius: 27px;
    background-color: var(--color-darkorange);
    width: 110px;
    height: 48px;
}

.seeMore {
    position: absolute;
    top: 13175px;
    left: 719px;
    font-size: var(--font-size-sm);
}

.vectorIcon2,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7 {
    position: absolute;
    height: 0.25%;
    width: 2.31%;
    top: 83.02%;
    right: 82.47%;
    bottom: 16.73%;
    left: 15.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vectorIcon3,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7 {
    top: 85.64%;
    bottom: 14.11%;
}

.vectorIcon4,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7 {
    top: 88.29%;
    right: 82.87%;
    bottom: 11.46%;
    left: 14.81%;
}

.vectorIcon5,
.vectorIcon6,
.vectorIcon7 {
    top: 83.02%;
    right: 57.34%;
    bottom: 16.73%;
    left: 40.34%;
}

.vectorIcon6,
.vectorIcon7 {
    top: 85.64%;
    bottom: 14.11%;
}

.vectorIcon7 {
    top: 88.29%;
    right: 57.74%;
    bottom: 11.46%;
    left: 39.95%;
}

.vectorIcon8,
.vectorIcon9 {
    height: 0.25%;
    width: 2.31%;
    right: 32.21%;
    left: 65.48%;
}

.vectorIcon8 {
    position: absolute;
    top: 83.02%;
    bottom: 16.73%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vectorIcon9 {
    top: 85.64%;
    bottom: 14.11%;
}

.vectorIcon10,
.vectorIcon11,
.vectorIcon12,
.vectorIcon9 {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vectorIcon10 {
    height: 0.25%;
    width: 2.31%;
    top: 88.29%;
    right: 32.61%;
    bottom: 11.46%;
    left: 65.08%;
}

.vectorIcon11,
.vectorIcon12 {
    height: 0.12%;
    width: 1.19%;
    top: 90.51%;
    bottom: 9.37%;
}

.vectorIcon11 {
    right: 15.87%;
    left: 82.94%;
    object-fit: contain;
}

.vectorIcon12 {
    right: 10.78%;
    left: 88.03%;
}

.homeChild30,
.homeChild31 {
    position: absolute;
    top: 13381px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.homeChild30 {
    left: 1233px;
    border: 1px solid var(--color-darkgray);
    box-sizing: border-box;
}

.homeChild31 {
    left: 1310px;
    background-color: var(--color-steelblue);
}

.loremIpsumDolor,
.readOurBlog {
    position: absolute;
    top: 13368px;
    left: 129px;
    font-size: var(--font-size-21xl);
    line-height: 50px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--color-black);
    display: flex;
    align-items: center;
    width: 303px;
}

.loremIpsumDolor {
    top: 13433px;
    font-size: var(--body-size);
    line-height: 20px;
    font-weight: 300;
    width: 436px;
}

.frameChild,
.frameChild1,
.frameChild2,
.frameChild3,
.frameInner,
.frameItem {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-xl);
    background-color: var(--white);
    width: 400px;
    height: 446px;
}

.frameChild1,
.frameChild2,
.frameChild3,
.frameInner,
.frameItem {
    left: 1266px;
}

.frameChild1,
.frameChild2,
.frameChild3,
.frameInner {
    left: 422px;
}

.frameChild1,
.frameChild2,
.frameChild3 {
    left: 1688px;
}

.frameChild2,
.frameChild3 {
    left: 844px;
}

.frameChild3 {
    left: 2110px;
}

.ellipseIcon,
.frameChild4,
.frameChild5,
.frameChild6,
.frameChild7,
.frameChild8 {
    position: absolute;
    top: 33px;
    left: 28px;
    border-radius: 50%;
    width: 133px;
    height: 126px;
    object-fit: cover;
}

.frameChild4,
.frameChild5,
.frameChild6,
.frameChild7,
.frameChild8 {
    left: 1294px;
}

.frameChild5,
.frameChild6,
.frameChild7,
.frameChild8 {
    left: 450px;
}

.frameChild6,
.frameChild7,
.frameChild8 {
    left: 1716px;
}

.frameChild7,
.frameChild8 {
    left: 872px;
}

.frameChild8 {
    left: 2138px;
}

.padmaPriyas,
.padmaPriyas1,
.padmaPriyas2,
.padmaPriyas3,
.padmaPriyas4,
.padmaPriyas5 {
    position: absolute;
    top: 73px;
    left: 171px;
    font-weight: 600;
    display: inline-block;
    width: 149px;
    height: 23px;
}

.padmaPriyas1,
.padmaPriyas2,
.padmaPriyas3,
.padmaPriyas4,
.padmaPriyas5 {
    left: 1437px;
}

.padmaPriyas2,
.padmaPriyas3,
.padmaPriyas4,
.padmaPriyas5 {
    left: 597px;
}

.padmaPriyas3,
.padmaPriyas4,
.padmaPriyas5 {
    left: 1863px;
}

.padmaPriyas4,
.padmaPriyas5 {
    left: 1019px;
}

.padmaPriyas5 {
    left: 2285px;
}

.mba20202022,
.mba202020221,
.mba202020222,
.mba202020223,
.mba202020224,
.mba202020225 {
    position: absolute;
    top: 106px;
    left: 171px;
    font-weight: 600;
    display: inline-block;
    width: 179px;
    height: 23px;
}

.mba202020221,
.mba202020222,
.mba202020223,
.mba202020224,
.mba202020225 {
    left: 1437px;
}

.mba202020222,
.mba202020223,
.mba202020224,
.mba202020225 {
    left: 597px;
}

.mba202020223,
.mba202020224,
.mba202020225 {
    left: 1863px;
}

.mba202020224,
.mba202020225 {
    left: 1019px;
}

.mba202020225 {
    left: 2285px;
}

.studyingAtPresidency,
.studyingAtPresidency1 {
    position: absolute;
    top: 196px;
    left: 31px;
    font-weight: 300;
    display: inline-block;
    width: 338px;
}

.studyingAtPresidency1 {
    left: 1297px;
}

.studyingAtPresidency2,
.studyingAtPresidency3,
.studyingAtPresidency4,
.studyingAtPresidency5 {
    position: absolute;
    top: 196px;
    left: 453px;
    font-weight: 300;
    display: inline-block;
    width: 338px;
}

.studyingAtPresidency3,
.studyingAtPresidency4,
.studyingAtPresidency5 {
    left: 1719px;
}

.studyingAtPresidency4,
.studyingAtPresidency5 {
    left: 875px;
}

.studyingAtPresidency5 {
    left: 2141px;
}

.rectangleParent {
    position: absolute;
    top: 10033px;
    left: 108px;
    width: 1266px;
    height: 446px;
    overflow-x: auto;
    font-size: var(--font-size-xl);
    color: var(--color-black);
}

.homeChild32 {
    position: absolute;
    top: 10239.8px;
    left: 1386.3px;
    border-radius: 50%;
    background-color: var(--white);
    width: 50px;
    height: 50px;
}

.vectorIcon14 {
    position: absolute;
    height: 4.48%;
    width: 0.68%;
    top: 90.3%;
    right: 86.16%;
    bottom: 5.22%;
    left: 13.16%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.frameChild10,
.frameChild11,
.frameChild12,
.frameChild9 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-lg);
    width: 412px;
    height: 251px;
    object-fit: cover;
}

.frameChild10,
.frameChild11,
.frameChild12 {
    left: 1325px;
}

.frameChild11,
.frameChild12 {
    left: 879px;
    width: 425px;
}

.frameChild12 {
    left: 2204px;
}

.frameChild13,
.frameChild14,
.frameChild15,
.frameChild16 {
    position: absolute;
    top: 342px;
    left: 1229px;
    border-radius: 50%;
    border: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 60px;
    height: 60px;
}

.frameChild14,
.frameChild15,
.frameChild16 {
    left: 2554px;
}

.frameChild15,
.frameChild16 {
    left: 777px;
}

.frameChild16 {
    left: 2102px;
}

.vectorIcon15 {
    position: absolute;
    height: 4.48%;
    width: 1.2%;
    top: 90.3%;
    right: 4.74%;
    bottom: 5.22%;
    left: 94.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.aHomeAway,
.aHomeAway1,
.exclusiveStudentDiscount,
.exclusiveStudentDiscount1 {
    position: absolute;
    top: 268px;
    left: 897px;
    line-height: 33px;
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 303px;
}

.aHomeAway,
.aHomeAway1,
.exclusiveStudentDiscount1 {
    left: 2222px;
}

.aHomeAway,
.aHomeAway1 {
    left: 451px;
    width: 326px;
}

.aHomeAway1 {
    left: 1776px;
}

.vectorIcon16 {
    position: absolute;
    height: 4.48%;
    width: 1.28%;
    top: 90.3%;
    right: 38.72%;
    bottom: 5.22%;
    left: 60%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.essentialStudyHacks,
.essentialStudyHacks1 {
    position: absolute;
    top: 268px;
    left: 5px;
    line-height: 33px;
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 303px;
}

.essentialStudyHacks1 {
    left: 1330px;
}

.frameChild17,
.frameChild18 {
    position: absolute;
    top: 0;
    left: 433px;
    border-radius: var(--br-lg);
    width: 425px;
    height: 251px;
    object-fit: cover;
}

.frameChild18 {
    left: 1758px;
}

.loremIpsumDolorContainer1 {
    width: 100%;
}

.loremIpsumDolorContainer,
.loremIpsumDolorContainer2,
.loremIpsumDolorContainer4 {
    position: absolute;
    top: 342px;
    left: 2224px;
    font-size: var(--font-size-sm);
    line-height: 20px;
    text-transform: capitalize;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 331px;
}

.loremIpsumDolorContainer2,
.loremIpsumDolorContainer4 {
    left: 7px;
}

.loremIpsumDolorContainer4 {
    left: 1332px;
}

.frameChild19,
.frameChild20 {
    position: absolute;
    top: 342px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.frameChild19 {
    left: 325px;
    background-color: var(--color-steelblue);
}

.frameChild20 {
    left: 1650px;
    border: 1px solid var(--white);
    box-sizing: border-box;
}

.loremIpsumDolorContainer6 {
    position: absolute;
    top: 342px;
    left: 1778px;
    font-size: var(--font-size-sm);
    line-height: 20px;
    text-transform: capitalize;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 331px;
}

.vectorIcon18 {
    position: absolute;
    height: 4.48%;
    width: 1.28%;
    top: 90.3%;
    right: 72.63%;
    bottom: 5.22%;
    left: 26.09%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.loremIpsumDolorContainer10,
.loremIpsumDolorContainer8 {
    position: absolute;
    top: 337px;
    left: 897px;
    font-size: var(--font-size-sm);
    line-height: 20px;
    text-transform: capitalize;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 331px;
}

.loremIpsumDolorContainer10 {
    top: 342px;
    left: 455px;
}

.vectorParent {
    position: absolute;
    top: 13554px;
    left: 113px;
    width: 1330px;
    height: 402px;
    overflow-x: auto;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
}

.image213Icon,
.image220RemovebgPreview1Icon {
    width: 195px;
    position: relative;
    height: 106px;
    flex-shrink: 0;
    object-fit: cover;
}

.image220RemovebgPreview1Icon {
    width: 182px;
    height: 117px;
}

.image213Parent {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}

.frameDiv {
    position: absolute;
    top: 10812px;
    left: 80px;
    width: 1353px;
    height: 117px;
    overflow: hidden;
}

.presidencyCollegeAutonomousContainer {
    position: absolute;
    top: 11658px;
    left: 65px;
    font-size: 36px;
    color: var(--color-black);
    display: inline-block;
    width: 998px;
}

.arrowUpThick {
    position: absolute;
    top: 9137px;
    left: 562.8px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.askUsAnything,
.loremIpsumDolor7,
.yourMessage {
    position: absolute;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.askUsAnything {
    top: 14498px;
    left: 72px;
    font-size: var(--font-size-29xl);
    line-height: 50px;
    font-weight: 600;
    width: 438px;
}

.loremIpsumDolor7,
.yourMessage {
    left: 70px;
}

.yourMessage {
    top: 14589px;
    font-size: var(--font-size-5xl);
    line-height: 50px;
    font-weight: 500;
    width: 360px;
}

.loremIpsumDolor7 {
    top: 14347px;
    line-height: 20px;
    width: 564px;
}

.homeChild33 {
    position: absolute;
    top: 14568px;
    left: 561px;
    border-radius: 50%;
    background-color: var(--color-steelblue);
    width: 60px;
    height: 60px;
}

.vectorIcon19 {
    position: absolute;
    height: 0.12%;
    width: 1.19%;
    top: 98.53%;
    right: 60.32%;
    bottom: 1.35%;
    left: 38.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.homeChild34 {
    position: absolute;
    top: 14643.5px;
    left: 71px;
    border-top: 2px solid var(--white);
    box-sizing: border-box;
    width: 564px;
    height: 2px;
}

.image210Icon {
    position: absolute;
    top: 14249px;
    left: 72px;
    width: 291px;
    height: 80.5px;
    object-fit: cover;
}

.about1,
.blogs {
    position: absolute;
    top: 14436px;
    left: 776px;
    font-weight: 500;
}

.blogs {
    top: 14482px;
}

.carrers,
.lifepresidencyCollege,
.placements1 {
    position: absolute;
    top: 14528px;
    left: 776px;
    font-weight: 500;
}

.lifepresidencyCollege,
.placements1 {
    top: 14344px;
}

.placements1 {
    top: 14298px;
}

.a,
.admissions,
.contact {
    display: inline-block;
    height: 20px;
}

.contact {
    position: absolute;
    top: 14390px;
    left: 774px;
    font-weight: 500;
    width: 96px;
}

.a,
.admissions {
    top: 14252px;
}

.admissions {
    position: absolute;
    left: 776px;
    font-weight: 500;
    width: 96px;
}

.a {
    text-decoration: underline;
    color: inherit;
    width: 138px;
}

.a,
.cAnd332d,
.contactpresidencyeduin {
    position: absolute;
    left: 1144px;
    font-weight: 500;
}

.contactpresidencyeduin {
    top: 14316px;
    text-decoration: underline;
    color: inherit;
}

.cAnd332d {
    top: 14384px;
    display: inline-block;
    width: 312px;
}

.mapMarkerIcon,
.vectorIcon20,
.vectorIcon21 {
    position: absolute;
    top: 14382px;
    left: 1103px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.vectorIcon20,
.vectorIcon21 {
    height: 0.11%;
    width: 1.32%;
    top: 96.7%;
    right: 25.6%;
    bottom: 3.19%;
    left: 73.08%;
    max-width: 100%;
    max-height: 100%;
}

.vectorIcon21 {
    height: 0.12%;
    width: 1.19%;
    top: 96.27%;
    right: 25.79%;
    bottom: 3.61%;
    left: 73.02%;
}

.div {
    left: 424px;
    color: var(--color-darkorange);
}

.div,
.div1,
.k {
    position: absolute;
    top: 9322px;
    font-size: var(--font-size-51xl);
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 305px;
}

.k {
    left: 778px;
    color: #421193;
}

.div1 {
    left: 1131px;
    color: var(--color-orange);
}

.alumniAcrossThe,
.placementPercentageOver,
.yearsOfEducation {
    position: absolute;
    top: 9431px;
    left: 456px;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    width: 239px;
}

.alumniAcrossThe,
.yearsOfEducation {
    top: 9430px;
    left: 828px;
    width: 195px;
}

.yearsOfEducation {
    left: 1123px;
    width: 305px;
}

.homeChild35 {
    position: absolute;
    top: 9184px;
    left: 72px;
    box-shadow: 3px 4px 5.2px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-xl);
    background-color: var(--color-lavenderblush);
    width: 320px;
    height: 451px;
}

.div2,
.indiasTopRankedPrivate1 {
    position: absolute;
    text-align: center;
    display: inline-block;
}

.div2 {
    top: 9322.4px;
    left: 75px;
    font-size: var(--font-size-51xl);
    font-weight: 600;
    color: var(--color-firebrick);
    width: 305px;
    height: 77px;
}

.indiasTopRankedPrivate1 {
    top: 9423.4px;
    left: 98px;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    color: var(--color-black);
    width: 260px;
}

.arrowUpDropCircleOutlineIcon {
    position: absolute;
    top: 10236px;
    left: 1367px;
    width: 62.5px;
    height: 61.5px;
    overflow: hidden;
    object-fit: contain;
}

.groupIcon,
.homeChild36 {
    position: absolute;
    top: 5026px;
    left: 1222px;
    width: 70px;
    height: 70px;
}

.homeChild36 {
    top: 5906px;
    left: 453px;
}

.homeChild37,
.homeChild38,
.homeChild39,
.homeChild40 {
    position: absolute;
    top: 6798px;
    left: 1222px;
    width: 70px;
    height: 70px;
}

.homeChild38,
.homeChild39,
.homeChild40 {
    top: 8610px;
}

.homeChild39,
.homeChild40 {
    top: 7309px;
    left: 453px;
}

.homeChild40 {
    top: 7689px;
}

.homeChild41,
.homeChild42 {
    position: absolute;
    top: 640px;
    left: 236px;
    width: 32px;
    height: 32px;
}

.homeChild42 {
    height: 0.22%;
    width: 2.12%;
    top: 0.24%;
    right: 4.76%;
    bottom: 99.55%;
    left: 93.12%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.home {
    width: 100%;
    position: relative;
    background-color: #fff6ea;
    height: 14807px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--white);
    font-family: var(--font-montserrat);
}